@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;0,700;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: #1f1f1f;
  /*PARALALLAX*/
  /*WORKS*/
}
body dialog {
  max-width: 1000px;
  overflow: hidden;
  margin-left: 225px;
  background: none;
  margin-top: 10px;
  transform: scale(1);
  border: none;
  align-items: center;
}
body dialog.abierto .about-container {
  top: 0px;
}
body dialog.abierto .contact-container {
  top: 0px;
}
body dialog.abierto2 .about-container {
  top: 0px;
}
body dialog.abierto2 .contact-container {
  top: 0px;
}
body dialog::-webkit-backdrop {
  background-color: rgba(27, 27, 27, 0.368627451);
}
body dialog::backdrop {
  background-color: rgba(27, 27, 27, 0.368627451);
}
body dialog .cerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
}
body dialog .cerrar i {
  color: rgb(101, 232, 255);
}
body dialog .cerrar i:hover {
  color: #7851e2;
}
body main {
  width: 100%;
  height: auto;
  position: absolute;
  left: 120px;
  top: 30%;
  z-index: 15000;
  color: #fff;
}
body main .content {
  width: 100%;
}
body main .content h1 {
  font-size: 3.5em;
  font-weight: 700;
  font-style: bold;
  font-family: "Libre Baskerville", serif;
}
body main .content h2 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 300;
  font-style: italic;
}
body main .content p {
  width: 50%;
  font-size: 1.4em;
  margin-bottom: 30px;
}
body main .content button {
  border: none;
  background: none;
}
body main .content a {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(255, 81, 122) 70%, rgb(110, 230, 255) 100%);
  padding: 15px 50px;
  font-size: 1.3em;
  transition: 0.6s;
  position: relative;
}
body main .content a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 10px;
  right: -40px;
  top: 20px;
  background-color: #fff;
  transition: 0.3s;
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
          clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
body main .content a:hover::after {
  right: -60px;
}
body .container {
  position: absolute;
  width: 30%;
  height: 100%;
  right: -30px;
  top: 20px;
  transform: scale(0.6);
}
body .container .circle {
  position: absolute;
  background: rgb(131, 131, 200);
  background: radial-gradient(circle, rgb(131, 131, 200) 4%, rgba(66, 62, 96, 0.555) 50%, rgba(29, 39, 75, 0.562) 100%);
  width: 520px;
  height: 520px;
  border-radius: 50%;
  right: 40px;
  top: 40px;
  z-index: 1;
}
body .container .circle2 {
  position: absolute;
  background: rgb(131, 131, 200);
  background: radial-gradient(circle, rgba(131, 131, 200, 0.61) 4%, rgba(103, 97, 144, 0.521) 50%, rgba(61, 69, 96, 0.562) 100%);
  width: 450px;
  height: 450px;
  border-radius: 50%;
  right: 70px;
  top: 70px;
  z-index: -1;
}
body .container .circle3 {
  position: absolute;
  background: rgb(177, 177, 214);
  background: radial-gradient(circle, rgba(177, 177, 214, 0.623) 4%, rgba(61, 55, 98, 0.555) 50%, rgba(45, 46, 87, 0.692) 100%);
  width: 580px;
  height: 580px;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  z-index: 3;
}
body .container h2 {
  text-align: center;
  z-index: 1;
  position: absolute;
  color: rgb(247, 54, 92);
  right: 130px;
  top: 210px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 32px;
  line-height: 60px;
  z-index: 1200;
  font-weight: 900;
}
body .container .trasero {
  position: relative;
  z-index: 1000;
}
body .container .trasero svg {
  position: absolute;
  right: 300px;
  top: 80px;
  width: 250px;
  height: 250px;
}
body .container .trasero svg:nth-child(2) {
  right: -20px;
  top: 10px;
  width: 250px;
  height: 250px;
}
body .container .trasero svg:nth-child(3) {
  right: 10px;
  top: 360px;
  width: 250px;
  height: 250px;
}
body .container .frontal {
  z-index: 1300;
  position: relative;
}
body .container .frontal svg {
  position: absolute;
  top: 330px;
  right: 340px;
  width: 480px;
  width: 250px;
  height: 250px;
}
body .container .frontal svg:nth-child(2) {
  top: 100px;
  right: -240px;
  width: 250px;
  height: 250px;
}
body .container .frontal svg:nth-child(3) {
  right: -10px;
  top: 330px;
  width: 250px;
  height: 250px;
}
body .container .moonSvg {
  width: 400px;
  position: absolute;
  right: 40px;
  top: 120px;
  z-index: 1000;
}
body .button {
  position: absolute;
  color: #fff;
  font-size: 1.4em;
  bottom: 30px;
  left: 45%;
  -webkit-animation: flecha 1s infinite;
          animation: flecha 1s infinite;
}
body .button i {
  position: absolute;
  left: 50%;
}
@-webkit-keyframes flecha {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes flecha {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
body .my-works {
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
}
body .my-works .works-content {
  width: 100%;
  height: 100%;
  margin: 10px 0 40px 0;
}
body .my-works .works-content h1 {
  font-size: 3em;
  margin: 10px;
  color: #26242e;
}
body .my-works .works-content h2 {
  font-size: 1.5em;
  color: #dfa45d;
  font-style: italic;
  font-family: Baskerville;
  font-weight: 800;
}
body .my-works .works {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr;
  gap: 60px;
  padding-bottom: 100px;
}
body .my-works .works .number {
  width: 125px;
  height: 125px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(90deg, #ec344c 0%, #ff6b51 70%, #ff5858 100%);
  z-index: 10000;
  top: 0px;
  left: 0px;
  display: none;
  transition: 0.6s ease-in;
}
body .my-works .works .number span {
  color: #fff;
  font-size: 4.5em;
  position: absolute;
  top: 20px;
  left: 25px;
}
body .my-works .works .work {
  border: 1px solid #1f1f1f;
  box-shadow: 2px 2px rgba(22, 10, 10, 0.342);
  padding: 20px;
  height: 500px;
  box-shadow: 2px 2px 4px 2px rgba(31, 31, 31, 0.4196078431);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
body .my-works .works .work:hover::after {
  -webkit-animation: hover 0.4s;
          animation: hover 0.4s;
  inset: 0;
}
body .my-works .works .work:hover .number {
  display: block;
  top: 5px;
  left: 5px;
}
body .my-works .works .work::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(15, 15, 15, 0.5137254902);
  z-index: 2;
}
body .my-works .works .work::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: rgba(25, 24, 36, 0.631372549);
  z-index: 2;
}
@-webkit-keyframes hover {
  0% {
    width: 0px;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    inset: 0;
  }
}
@keyframes hover {
  0% {
    width: 0px;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    inset: 0;
  }
}
body .my-works .works .work .text {
  position: absolute;
  right: 20px;
  bottom: 100px;
  z-index: 1000;
  width: 500px;
  margin: 0 50px;
  transition: 0.4s all;
}
body .my-works .works .work .text h3 {
  font-size: 3em;
  color: #fff;
  font-weight: 800;
  margin-bottom: 30px;
  font-family: Montserrat;
  margin-left: 50px;
  text-align: right;
}
body .my-works .works .work .text p {
  margin-bottom: 30px;
  text-align: right;
  color: #fff;
  font-size: 1.4em;
  font-style: italic;
  font-family: Baskerville;
}
body .my-works .works .work .text a {
  background: linear-gradient(90deg, #ec344c 0%, #ff6b51 70%, #ff5858 100%);
  color: #fff;
  padding: 10px 10px;
  width: 200px;
  font-size: 1.2em;
  position: absolute;
  right: 0px;
  bottom: -60px;
}
body .my-works .works .work.work-one {
  background: url(/src/projectImg/pokedex.png) no-repeat center center/cover;
}
body .my-works .works .work.work-two {
  background: url(/src/projectImg/DesarrolloWeb.png) no-repeat center center/cover;
  transform: translateX(30px);
}
body .my-works .works .work.work-three {
  background: url(/src/projectImg/wall-eControled.png) no-repeat center center/cover;
}
body .my-works .works .work.work-four {
  background: url(/src/projectImg/tiagoPiano.png) no-repeat center center/cover;
  transform: translateX(30px);
}
body .my-works .works .work.work-five {
  background: url(/src/projectImg/randomColor.png) no-repeat center center/cover;
}
body .my-works .works .work.work-six {
  background: url(/src/projectImg/paralallax.png) no-repeat center center/cover;
  transform: translateX(30px);
}
body .contenedor-padre {
  overflow: hidden;
  position: relative;
}
body .contenedor {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@-webkit-keyframes up {
  0% {
    top: -300px;
  }
  100% {
    top: 0px;
  }
}
@keyframes up {
  0% {
    top: -300px;
  }
  100% {
    top: 0px;
  }
}
body .contenedor .about h3 {
  font-size: 8em;
  color: rgba(159, 160, 175, 0.3568627451);
  position: absolute;
  left: 10px;
  opacity: 0.8;
  top: 50px;
}
body .contenedor .about-container {
  background-color: hsla(0deg, 0%, 95%, 0.97);
  width: 100%;
  border: 1px solid #000;
  padding: 25px;
  position: relative;
  -webkit-animation: up 0.4s;
          animation: up 0.4s;
}
body .contenedor .about-container h6 {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  color: rgba(38, 41, 56, 0.9843137255);
}
body .contenedor .about-container .skills {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
body .contenedor .about-container .skills i {
  font-size: 40px;
  margin: 30px;
  z-index: 3;
  text-align: center;
}
body .contenedor .about-container .skills i span {
  font-size: 0.4em;
  text-transform: uppercase;
  display: block;
  font-family: montserrat;
  color: #1f1f1f;
}
body .contenedor .about-container .skills i:nth-child(1):hover {
  color: rgb(0, 162, 255);
}
body .contenedor .about-container .skills i:nth-child(2):hover {
  color: orange;
}
body .contenedor .about-container .skills i:nth-child(3):hover {
  color: orangered;
}
body .contenedor .about-container .skills i:nth-child(4):hover {
  color: rgb(255, 0, 106);
}
body .contenedor .about-container .skills i:nth-child(5):hover {
  color: rgb(0, 255, 85);
}
body .contenedor .about-container .skills i:nth-child(6):hover {
  color: rgba(38, 41, 56, 0.9843137255);
}
body .contenedor .about-container .about-content {
  margin-top: 15px;
}
body .contenedor .about-container .about-content h4 {
  font-size: 25px;
  font-weight: 600;
  color: rgba(28, 29, 37, 0.9843137255);
}
body .contenedor .about-container .about-content h5 {
  color: rgb(61, 90, 253);
  font-weight: 300;
  font-size: 18px;
  margin: 20px 0px;
}
body .contenedor .about-container .about-content p {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: rgba(28, 29, 37, 0.9843137255);
}
body .contenedor .about-container .about-content span {
  color: orangered;
  font-weight: 800;
  font-size: 20px;
}
body .contenedor .contact-container {
  background-color: rgba(28, 29, 37, 0.9843137255);
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 20px;
  opacity: 1;
  z-index: 1;
  position: relative;
  -webkit-animation: up 0.4s;
          animation: up 0.4s;
}
body .contenedor .contact-container .textfondo {
  color: rgba(176, 178, 195, 0.3568627451);
  font-size: 8em;
  position: absolute;
  bottom: 100px;
  z-index: -1;
  opacity: 0.1;
}
body .contenedor .contact-container h3 {
  font-size: 30px;
  text-align: center;
}
body .contenedor .contact-container p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}
body .contenedor .contact-container .contact-wrapper > * {
  padding: 1em;
  z-index: 2;
}
body .contenedor .contact-container .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 2;
}
body .contenedor .contact-container .contact-form form label {
  display: block;
}
body .contenedor .contact-container .contact-form form p {
  margin: 0;
  padding: 0.7em;
}
body .contenedor .contact-container .contact-form form .block {
  grid-column: 1/3;
}
body .contenedor .contact-container .contact-form form button,
body .contenedor .contact-container .contact-form form input,
body .contenedor .contact-container .contact-form form textarea {
  width: 100%;
  padding: 0.3em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 2;
  max-width: 400px;
  color: #fff;
  font-size: 1em;
}
body .contenedor .contact-container .contact-form form button {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(255, 81, 122) 70%, rgb(110, 230, 255) 100%);
  border: 0;
  text-transform: uppercase;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
  font-size: 1em;
}
body .contenedor .contact-container .contact-form form button:hover,
body .contenedor .contact-container .contact-form form button:focus {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(255, 81, 122) 70%, rgb(110, 230, 255) 100%);
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}
body .footer {
  background-color: rgba(28, 29, 37, 0.9843137255);
  padding: 80px 0px 50px 0px;
  position: relative;
  text-align: center;
}
body .footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
}
body .footer li {
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 10px;
}
body .footer li a {
  color: #fff;
  font-size: 1em;
  font-weight: 800;
}
body .footer li a:hover {
  border-bottom: 1px solid #fff;
}
body .footer h6 {
  margin-top: 40px;
  color: #fff;
}
body #particles-js {
  width: 100%;
  height: 100%;
}
body #preloader {
  background: #fff url(/src/img/loader.gif) no-repeat center center/cover;
  background-size: 30%;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 5px;
}

.contenedor {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 1000;
}
.contenedor header {
  width: 100%;
  z-index: 1000;
}
.contenedor header .nameIcon {
  width: 30%;
  position: absolute;
}
.contenedor header .nameIcon h1 {
  position: relative;
  font-size: 3em;
  margin-top: 40px;
  color: #F2EFEA;
  text-transform: uppercase;
  font-family: baskerville;
  font-style: italic;
}
.contenedor header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 25vh;
  border-left: 3px solid #F7F0F5;
}
.contenedor header .nav li {
  margin: 20px 20px;
  list-style: circle;
  color: #F2EFEA;
}
.contenedor header .nav li a {
  color: #F7F0F5;
  font-size: 2em;
  transition: 0.3s ease-in;
  font-family: baskerville;
  font-style: italic;
}
.contenedor header .nav li a:hover {
  text-decoration: line-through;
  letter-spacing: 2px;
}
.contenedor footer {
  position: absolute;
  margin: 90vh 0px;
  width: 30%;
}
.contenedor footer li {
  display: inline;
  margin-left: 30px;
  position: relative;
}
.contenedor footer li a {
  color: #F7F0F5;
  font-size: 2em;
  transition: 0.25s;
}
.contenedor footer li a:hover {
  color: #C52233;
}

.cerrar {
  background: none;
  border: none;
  font-size: 2em;
}

/* ----- General Header CSS ------ */
#header {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  font-size: 19px;
  min-height: 100px;
  z-index: 155555;
}

/* Normal Header */
.active-header {
  background-color: white;
  color: black;
}

.menu-link {
  color: white;
}

.active-menu-links {
  color: black;
}

#normal-header {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  font-size: 19px;
  min-height: 100px;
  background-color: rgba(38, 36, 46, 0.768627451);
}

#header-img {
  width: 250px;
  margin-left: 15%;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  flex-flow: row;
}

#nav-bar li {
  padding: 10px;
  margin: 12px;
}

#nav-bar ul, a {
  text-decoration: none;
}

/* Responsive Header */
#responsive-header {
  display: none;
}

#image-button-black {
  display: none;
  border: none;
}

#image-button-black:hover {
  cursor: pointer;
}

#image-button-black:focus {
  outline: 0;
}

@media only screen and (min-width: 200px) and (max-width: 860px) {
  /* Navigation CSS */
  #header {
    background: white;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    margin: auto;
  }
  #normal-header {
    display: none;
  }
  #responsive-header {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
  }
  #responsive-logo-button {
    display: flex;
    justify-content: space-between;
    padding: 1% 0 1% 0;
  }
  #responsive-nav-bar {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  #responsive-nav-bar ul {
    list-style: none;
  }
  #responsive-nav-bar li {
    text-align: center;
    font-size: 23px;
    margin-top: 40%;
  }
  #responsive-first-item {
    margin-top: 0;
    padding: 0;
  }
  #header-img-black {
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
    height: auto;
  }
  #dropdown-button-black {
    display: block;
    width: 55%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  #image-button-black {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 2%;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    transform: translateY(440px) translateX(-100px) scale(0.8);
    display: none;
  }
  .main {
    left: 20px;
    top: 30px;
    margin-top: 10%;
    width: 130%;
  }
  .main .content {
    transform: scale(0.9);
  }
  .main .content .info {
    display: block;
  }
  .main .content .info2 {
    display: none;
  }
  .button {
    display: none;
  }
  .aboutAndContact {
    display: none;
  }
  dialog {
    left: -180px;
    width: 90%;
  }
}
@media screen and (max-width: 999px) {
  .container {
    transform: translateY(440px) translateX(-100px) scale(0.8);
    display: none;
  }
  .main {
    left: 20px;
    top: 30px;
    margin-top: 10%;
    width: 130%;
  }
  .main .content {
    transform: scale(0.9);
  }
  .main .content .info {
    display: none;
  }
  .main .content .info2 {
    display: block;
  }
  .button {
    display: none;
  }
  .my-works .works .work .text {
    transform: translateX(80px);
  }
  .my-works .works .work .text h3 {
    transform: scale(0.9);
  }
  .my-works .works .work .text p {
    margin: 0;
    transform: scale(0.8);
  }
  .my-works .works .work .text a {
    transform: scale(0.9) translateX(-60px);
  }
  .my-works .works .number {
    transform: scale(0.8);
  }
  dialog {
    left: -180px;
    width: 90%;
  }
}
@media screen and (min-width: 666px) {
  .container {
    display: block;
  }
  .container svg {
    transform: scale(0.5);
  }
  .main {
    left: 10px;
    top: 50px;
    width: 110%;
  }
  .main .content {
    transform: scale(0.8);
  }
  .main .content .info {
    display: none;
  }
  .main .content .info2 {
    display: block;
  }
  .button {
    display: none;
  }
  .my-works .works .work .text {
    transform: translateX(80px);
  }
  .my-works .works .work .text h3 {
    transform: scale(0.9);
  }
  .my-works .works .work .text p {
    margin: 0;
    transform: scale(0.8);
  }
  .my-works .works .work .text a {
    transform: scale(0.9) translateX(-60px);
  }
  .my-works .works .number {
    transform: scale(0.8);
  }
  .aboutAndContact {
    position: relative;
    border: 2px solid #26242e;
  }
  .aboutAndContact .contenedor {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .container {
    transform: translateY(440px) translateX(-100px) scale(0.8);
    display: none;
  }
  .main {
    left: 10px;
    top: 50px;
    width: 110%;
  }
  .main .content {
    transform: scale(0.8);
  }
  .main .content .info {
    display: none;
  }
  .main .content .info2 {
    display: block;
  }
  .button {
    display: none;
  }
  .my-works .works .work .text {
    transform: translateX(80px);
  }
  .my-works .works .work .text h3 {
    transform: scale(0.9);
  }
  .my-works .works .work .text p {
    margin: 0;
    transform: scale(0.8);
  }
  .my-works .works .work .text a {
    transform: scale(0.9) translateX(-60px);
  }
  .my-works .works .number {
    transform: scale(0.8);
  }
  .aboutAndContact {
    position: relative;
    border: 2px solid #26242e;
  }
  .aboutAndContact .contenedor {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 400px) {
  .container {
    transform: translateY(500px) scale(0.6);
  }
  .main {
    left: 20px;
    top: -15px;
    width: 100%;
  }
  .main .content {
    transform: scale(0.8);
  }
  .main .content .info {
    display: none;
  }
  .main .content .info2 {
    display: block;
  }
  .button {
    display: none;
  }
  .my-works .works .work .text {
    transform: translateX(120px);
  }
  .my-works .works .work .text h3 {
    transform: scale(0.7);
  }
  .my-works .works .work .text p {
    margin: 0;
    transform: scale(0.6);
  }
  .my-works .works .work .text a {
    transform: scale(0.8) translateX(-60px);
  }
  .my-works .works .number {
    transform: scale(0.7);
  }
  .aboutAndContact {
    position: relative;
    border: 2px solid #26242e;
  }
  .aboutAndContact .contenedor {
    display: grid;
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=styles.css.map */